body {
  overflow-x: hidden;
  font-family: 'Inconsolata', monospace; }

.botao-menu {
  background-color: black;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  z-index: 10; }
  .botao-menu span {
    width: 25px;
    height: 1px;
    margin-left: -12.5px;
    left: 50%;
    position: absolute;
    border: 1px solid #fff;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .botao-menu span:first-of-type {
      top: 30%; }
    .botao-menu span:nth-of-type(2) {
      top: 50%; }
    .botao-menu span:last-of-type {
      top: 70%; }
  @media (min-width: 768px) {
    .botao-menu {
      display: none; } }

.change-botao-menu span:first-of-type {
  -webkit-transform: rotate(45deg) translate(6px, 5px);
  transform: rotate(45deg) translate(6px, 5px); }

.change-botao-menu span:nth-of-type(2) {
  opacity: 0; }

.change-botao-menu span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
  transform: rotate(-45deg) translate(7px, -7px); }

.menu {
  position: fixed;
  right: 5%;
  bottom: 18%;
  z-index: 10;
  display: none; }
  .menu ul {
    padding-left: 0; }
    .menu ul li {
      animation: .4s;
      list-style: none;
      margin-bottom: 25px;
      text-align: right;
      cursor: pointer; }
      .menu ul li:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid;
        margin-left: 10px;
        -webkit-transition: .6s;
        -moz-transition: .6s;
        -o-transition: .6s;
        transition: .6s; }
  @media (min-width: 768px) {
    .menu {
      display: none; } }

.click-li:after {
  background-color: black; }

.div1 {
  height: 100vh; }
  .div1 .container {
    width: 100%; }
  .div1 .col-sm {
    padding: 250px 0; }
    @media (max-width: 575.98px) {
      .div1 .col-sm {
        padding: 150px 0; } }
    .div1 .col-sm h1 {
      font-size: 56px; }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .div1 .col-sm h1 {
          font-size: 50px; } }
    .div1 .col-sm hr {
      margin: 0;
      width: 23%; }
  .div1 .col-md-5 {
    background-image: url("../img/bg-pc.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    margin-top: 5%;
    -webkit-box-shadow: -8px 13px 18px 0px #b3b1b3;
    -moz-box-shadow: -8px 13px 18px 0px #b3b1b3;
    box-shadow: -8px 13px 18px 0px #b3b1b3; }
    @media (max-width: 767.98px) {
      .div1 .col-md-5 {
        display: none; } }
  .div1 .seta {
    max-width: 40px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
    -webkit-animation: 2s efeito-loop infinite;
    animation: 2s efeito-loop infinite; }

@-webkit-keyframes efeito-loop {
  0% {
    bottom: 0%; }
  50% {
    bottom: 2%; }
  100% {
    bottom: 0%; } }

@keyframes efeito-loop {
  0% {
    bottom: 0%; }
  50% {
    bottom: 2%; }
  100% {
    bottom: 0%; } }

.line-1 {
  animation: blink 1s step-end 8 backwards, typewriter 2.2s 0.8s steps(14, end) forwards, blink 1s 5s step-end 70000; }

.typewriter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 75px; }
  .typewriter-wrapper div {
    text-align: center; }
  .typewriter-wrapper .typewriter-text {
    width: 0;
    margin: 5rem auto 0 auto;
    text-align: center;
    white-space: nowrap;
    border-right: 1px solid black;
    overflow: hidden; }
    @media (max-width: 575.98px) {
      .typewriter-wrapper .typewriter-text {
        margin: 2em auto 0 auto; } }

@keyframes typewriter {
  0% {
    width: 0;
    border-right: 1px solid black; }
  100% {
    width: 100%;
    border-right: 1px solid black; } }

@keyframes blink {
  0%,
  100% {
    border-color: transparent; }
  50% {
    border-color: black; } }

.div-espec {
  opacity: 0;
  padding: 0 35px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 3.5s;
  -moz-transition-delay: 3.5s;
  -o-transition-delay: 3.5s;
  transition-delay: 3.5s; }
  .div-espec:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 50px;
    background-color: black;
    float: left;
    margin-right: 25px; }
  .div-espec img {
    margin-right: 15px;
    margin-top: -7px; }
  .div-espec ul {
    padding-left: 25px; }
    .div-espec ul li {
      list-style: none;
      margin: 20px 0 20px;
      color: #4F4F4F; }
  .div-espec:nth-of-type(2) ul li {
    margin: 5px 0 5px; }
  .div-espec:nth-of-type(2) h5 {
    margin-bottom: 19px; }
  @media (max-width: 991.98px) {
    .div-espec {
      padding: 20px 25px; } }

#seta2, #seta3 {
  position: absolute;
  right: 2%;
  bottom: 0;
  height: 40px;
  opacity: 0;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 3.5s;
  -moz-transition-delay: 3.5s;
  -o-transition-delay: 3.5s;
  transition-delay: 3.5s;
  -webkit-animation: 2s efeito-loop infinite;
  animation: 2s efeito-loop infinite;
  cursor: pointer; }
  @media (max-width: 767.98px) {
    #seta2, #seta3 {
      right: 50%;
      margin-right: -20px; } }

@media (max-width: 767.98px) {
  .div2 {
    height: auto; } }

.div2 .container .row {
  padding-bottom: 55px; }

.div3 {
  padding: 40px 0 0; }
  .div3 .container .row {
    padding-bottom: 55px; }
  .div3 h1 {
    text-align: center;
    margin: 75px 0; }
  @media (max-width: 767.98px) {
    .div3 {
      height: auto; } }
  .div3 .col-lg-4 {
    margin-bottom: 75px; }
    @media (max-width: 767.98px) {
      .div3 .col-lg-4 {
        margin-bottom: 35px; } }
    .div3 .col-lg-4 .img {
      position: relative;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center;
      height: 180px; }
      .div3 .col-lg-4 .img .mask {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        opacity: 0;
        padding: 25px; }
        .div3 .col-lg-4 .img .mask p {
          color: #fff;
          margin-bottom: 5px; }
          .div3 .col-lg-4 .img .mask p:last-of-type {
            text-decoration: underline; }
        .div3 .col-lg-4 .img .mask ul {
          padding-left: 0; }
          .div3 .col-lg-4 .img .mask ul li {
            display: inline;
            list-style: none;
            margin-right: 5px;
            color: #cccccc; }
      .div3 .col-lg-4 .img:hover .mask {
        height: 100%;
        opacity: 1; }
    .div3 .col-lg-4:first-of-type .img {
      background-image: url("../img/asparty-print.png"); }
    .div3 .col-lg-4:nth-of-type(2) .img {
      background-image: url("../img/gessaude-print.png"); }
    .div3 .col-lg-4:nth-of-type(3) .img {
      background-image: url("../img/grano-print.png"); }
    .div3 .col-lg-4:nth-of-type(4) .img {
      background-image: url("../img/hasten-print.png"); }
    .div3 .col-lg-4:nth-of-type(5) .img {
      background-image: url("../img/irie-print.png"); }
    .div3 .col-lg-4:nth-of-type(6) .img {
      background-image: url("../img/rodrigo-print.png"); }
    .div3 .col-lg-4:nth-of-type(7) .img {
      background-image: url("../img/sistran-print.png"); }
    .div3 .col-lg-4:nth-of-type(8) .img {
      background-image: url("../img/spread-print.png"); }
    .div3 .col-lg-4:nth-of-type(9) .img {
      background-image: url("../img/lemonator-print.png"); }
    .div3 .col-lg-4:nth-of-type(10) .img {
      background-image: url("../img/kabrita.png"); }
    .div3 .col-lg-4:nth-of-type(11) .img {
      background-image: url("../img/mother.png"); }
    .div3 .col-lg-4:nth-of-type(12) .img {
      background-image: url("../img/vegmag.png"); }

.div4 {
  margin-bottom: 0;
  padding: 30px 0;
  background-color: #d3d3d3;
  color: gray; }
  .div4 .container {
    margin-bottom: 0; }
    .div4 .container h4 {
      text-align: left;
      margin: 0 0 25px;
      width: 100%; }
    .div4 .container p {
      margin-bottom: 20px;
      margin-right: 40px; }
      @media (min-width: 768px) {
        .div4 .container p {
          float: left; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .div4 .container p {
          margin-right: 35px; } }
      .div4 .container p:last-of-type {
        font-size: 11px;
        width: 100%;
        margin-bottom: 0;
        float: unset; }
        @media (max-width: 767.98px) {
          .div4 .container p:last-of-type {
            margin-top: 15px; } }
        @media (min-width: 992px) {
          .div4 .container p:last-of-type {
            margin-top: 20px; } }
    .div4 .container img {
      margin-right: 15px; }
    .div4 .container a {
      margin-bottom: 20px;
      float: left; }
      @media (max-width: 767.98px) {
        .div4 .container a {
          float: unset; } }
      @media (min-width: 992px) {
        .div4 .container a {
          float: unset; } }
